In [1]:
import pandas as pd
df = pd.read_csv('MyData.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SNO     26 non-null     int64
 1   NAME    26 non-null     object
 2   CITY    26 non-null     object
 3   AREA    25 non-null     object
dtypes: int64(1), object(3)
memory usage: 960.0+ bytes

In [2]:
df.isna().sum()

SNO     0
NAME    0
CITY    0
AREA    1
dtype: int64

In [3]:
df = df.drop(['SNO', 'NAME'], axis=1)

In [4]:
from sklearn.preprocessing import LabelEncoder
df = df.apply(lambda series: pd.Series(
        LabelEncoder().fit_transform(series[series.notnull()]),
        index=series[series.notnull()].index
    ))
df.head()

   CITY  AREA
0     0   2.0
1     0   NaN
2     0   2.0
3     0   2.0
4     0   2.0

In [5]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)
df = pd.DataFrame(imputer.fit_transform(df),columns = df.columns)
df.head()

   CITY  AREA
0   0.0   2.0
1   0.0   1.6
2   0.0   2.0
3   0.0   2.0
4   0.0   2.0

In [6]:
print(df.loc[[1]])

   CITY  AREA
1   0.0   1.6

In [7]:
import os
os.path.abspath("")

'C:\\Users\\BATH\\BalajiML\\MissingValues'